@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img1{
    background-image: url(https://camera.unlimitedstreamingsports.com/assets/images/bg.jpg);
    width: 100%;
    height: 130vh; 
    background-repeat:no-repeat; 
    background-size: cover;
    background-position:center center;
    background-attachment:fixed;
   

    
}

.bg-img2{
    background-image: url(https://wallpaperaccess.com/full/139513.jpg); 
    width: 75%; 
    height: 80vh;
    background-size: cover;
    border-radius: 2px;
    
}